* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

#book-collection {
  width: 98%;
}

.book-item {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
}

.flex {
  display: flex;
  width: 40%;
}

.alternate:nth-child(odd) {
  background: rgb(179, 175, 175);
}

.alternate:nth-child(even) {
  background: white;
}
